<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>keycloak multicast Listener UDP</short>
  <description>A service which allows traffic to a fictitious multicast listener. UDP</description>
  <port protocol="udp" port="{{ multicast.port }}"/>
  <port protocol="udp" port="{{ multicast.port_fd }}"/>
  <destination ipv4="{{ multicast.ip }}"/>
</service>
